body{
    background-color: #A5A6F6;
}

.BGblue{
    background-color: #214194;
}

.icono{
    width: 40px;
}

/*Para pagina 3*/
.mt{
    margin-top: 50px;
}
.wth{
    width: 60%;
    margin-top: 50px;
}
.mb{
    margin-bottom: 50px;
}