body{
    background-color: #A5A6F6;
}

.BGblue{
    background-color: #214194;
}

.icono{
    width: 40px;
}

/*Para pagina 3*/
.mt{
    margin-top: 4%;
}
.wth{
    width: 60%;
    margin-top: 50px;
    border-radius: 30px 30px / 30px 30px;
}
.mb{
    margin-bottom: 50px;
}

.row{
    margin: 2%;
}

#logo{
    font-family: 'Crafty Girls', cursive;
}